form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
}
input,label{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px;

}
button{
    width: 82%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
}